---
#Workflow 1 triggering workflow2. This is workflow2-deploy.yml
name: Deploy application
on:
  push:
    branches: 
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  workflow_run:
    workflows: 
      - Build application
    types:
      - completed
jobs:
  deploy:
  if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy step
        run: echo "Deploying the application..."
